<header class="page_block">
	<div class="header">
		<div class="">
			{{> logo}}
		</div>
		<nav class="header_nav">
			<div class="header_nav_right">
				{{> nav list=header}}
			</div>
		</nav>
	</div>
</header>

{{#with main}}
<div class="main">
	<div class="main_content">
		<h1 class="main_heading">{{heading}}</h1>
		<p class="main_descriotion">{{descriotion}}</p>
		<div>
			<a class="main_button" href="{{href}}">{{button}}</a>
		</div>
	</div>
	<img src="{{image}}" alt="Hero image" class="main_image">
</div>
{{/with}}

<div class="featured">
	{{#each featured}}
	<div class="card">
		<img src="{{photo}}" class="featured_img">
		<h4 class="featured_heading">{{heading}}</h4>
		<p class="featured_info">{{info}}</p>
		<a href="{{linkUrl}}">{{linkText}}</a>
	</div>
	{{/each}}
</div>

<hr>
<div class="actions">
	{{#each actions}}
	<div class="actions_content">
		<h3 class="actions_heading">{{heading}}</h3>
		<button class="actions_button" href="{{url}}">{{text}}</button>
	</div>
	{{/each}}
</div>


<footer class="page_block">
	<div class="footer">
		<div>
			{{> logo}}
			<span class="footer_copyright">Copyright 2023-2024</span>
		</div>
		{{#each footer}}
		<div>
			<span class="footer_title">{{title}}</span>
			{{> nav list=links isVertical=true}}
		</div>
		{{/each}}
	</div>
</footer>